.slider
   &-wrap
      position: relative
      z-index: 99
      margin: auto
      width: 1920px
      height: 810px

   & button
      display: none

   &__item
      position: relative

   &__label
      position: absolute
      max-width: 500px
      background-color: $accent
   &__label_1
      left: 600px
      top: 350px
   &__label_2
      left: 430px
      top: 300px
   &__label_3
      right: 100px
      top: 320px
   &__label_4
      right: 100px
      top: 150px
   &__label_5
      right: 100px
      top: 250px



   &__text
      padding: 25px 45px
      color: #ffffff
      +ubuntu-bold
      font-size: 35px
      text-align: center