@font-face {
   font-family: 'Roboto Regular';
   src: url('../fonts/Roboto-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Roboto Condensed Bold';
   src: url('../fonts/RobotoCondensed-Bold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu Regular';
   src: url('../fonts/Ubuntu-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu Medium';
   src: url('../fonts/Ubuntu-Medium.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu Bold';
   src: url('../fonts/Ubuntu-Bold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu Medium Italic';
   src: url('../fonts/Ubuntu-MediumItalic.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Ubuntu Bold Italic';
   src: url('../fonts/Ubuntu-BoldItalic.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans Regular';
   src: url('../fonts/OpenSans-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans Semibold';
   src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Open Sans Bold';
   src: url('../fonts/OpenSans-Bold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}


@mixin ubuntu {
   font-family: 'Ubuntu Regular', sans-serif;
}

@mixin ubuntu-m {
   font-family: 'Ubuntu Medium', sans-serif;
}

@mixin ubuntu-m-i {
   font-family: 'Ubuntu Medium Italic', sans-serif;
}

@mixin ubuntu-bold {
   font-family: 'Ubuntu Bold', sans-serif;
}

@mixin ubuntu-bold-i {
   font-family: 'Ubuntu Bold Italic', sans-serif;
}

@mixin roboto-c-bold {
   font-family: 'Roboto Condensed Bold', sans-serif;
}

@mixin roboto {
   font-family: 'Roboto Regular', sans-serif;
}

@mixin opensans {
   font-family: 'Open Sans Regular', sans-serif;
}

@mixin opensans-sb {
   font-family: 'Open Sans Semibold', sans-serif;
}

@mixin opensans-b {
   font-family: 'Open Sans Bold', sans-serif;
}