.wrapper
   +wrapper()

=pseudo
   display: block
   content: ""
   position: absolute

a
   text-decoration: none
   color: inherit

p
   margin: 0

.visibility-hidden
   display: none

img
   max-width: 100%

h2
   +ubuntu-bold
   font-size: 40px
   text-align: center

button
   display: block
   padding: 10px 62px
   border: none
   border-radius: 2px
   background-color: $dark
   color: #ffffff
   +ubuntu-bold
   font-size: 20px
   line-height: 26px
   cursor: pointer


.title-orange
   background: repeating-linear-gradient(-70deg, transparent, transparent 20%, $accent 20%, $accent 80%)


@media (max-width: 1200px)
   .title-orange
      background: repeating-linear-gradient(-70deg, transparent, transparent 10%, $accent 10%, $accent 90%)

@media (max-width: 992px)
   h2 
      font-size: 34px

@media (max-width: 768px)
   h2 
      font-size: 30px
  
@media (max-width: 576px)
   h2 
      font-size: 26px 
   .title-orange
      background: repeating-linear-gradient(-70deg, transparent, transparent 7%, $accent 7%, $accent 93%)

@media (max-width: 480px)
   .title-orange
      background: $accent
